body {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/trippy-gf.gif');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}